perception_ad/*.pt
perception_ad/*_data
perception_ad/recordings
perception_ad/validation_2*
!perception_ad/validation_20250712_185611

carla

state_estimation
controller_ad

__pycache__
.python-version