perception_ad/*.pt
perception_ad/**data
perception_ad/recordings
perception_ad/validation_*
perception_ad/gpu_*
perception_ad/demo/*_linkedin.gif


!perception_ad/validation_20250720_124216



carla

state_estimation
controller_ad

__pycache__
.pytest_cache
.python-version