perception_ad/*.pt

perception_ad/perception_data/recordings
perception_ad/perception_data/validation_*
perception_ad/perception_data/demo/*_linkedin.gif
!perception_ad/perception/validation/validation_20250720_124216

carla

state_estimation
controller_ad

__pycache__
.pytest_cache
.python-version